# **Tutorial 1. Python: Data Types and Data Structures**

## _**Basic Variable Types**_

### Strings:

In [ ]:
#Ejemplo de QuantConnect
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
#Ejemplo Propio
cadena1 = 'Presentado por'
cadena2 = "Juan Pablo Bustamante Moreno"
print(cadena1 + ' ' + cadena2)

Presentado por Juan Pablo Bustamante Moreno

### Integers:

In [ ]:
#Ejemplo de QuantConnect
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
#Ejemplo Propio
num_entero = 24
print(num_entero)
print(type(num_entero))

24
<class 'int'>

### Built-in function int():

In [ ]:
#Ejemplo de QuantConnect
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
#Ejemplo Propio
cadena = "1824"
print(type(cadena))
entero = int(cadena)
print(type(entero))

<class 'str'>
<class 'int'>

### Float:

In [ ]:
#Ejemplo de QuantConnect
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [ ]:
#Ejemplo Propio
flotante = 17.45
print(type(flotante))
entero = 36
print(type(entero))

<class 'float'>
<class 'int'>

### Built-in function float():

In [ ]:
#Ejemplo de QuantConnect
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
#Ejemplo Propio
cadena = "12.678"
flotante = float(cadena)
print(type(flotante))

<class 'float'>

### Boolean:

In [ ]:
#Ejemplo de QuantConnect
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
#Ejemplo Propio
booleano = True
print(booleano)
print(type(booleano))

True
<class 'bool'>

## _**Basic Math Operators**_

In [ ]:
#Ejemplo de QuantConnect
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [ ]:
#Ejemplo Propio
print("Adición: 15 + 71 =", 15+71)
print("Sustracción: 58 - 24 =", 58-24)
print("Multiplicación: 26 x 13 =", 26*13)
print("División: 144 ÷ 12 =", 144/12)
print("Potencia: 29² =", 29**2)

Adición: 15 + 71 = 86
Sustracción: 58 - 24 = 34
Multiplicación: 26 x 13 = 338
División: 144 ÷ 12 = 12.0
Potencia: 29² = 841

## _**Data Collections**_

### List:

* #### *Creating a list:*

In [ ]:
#Ejemplo de QuantConnect
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
#Ejemplo Propio
lista = ['Juan', 'Pablo', 7,8,2001]
print(lista)

['Juan', 'Pablo', 7, 8, 2001]

* #### *Access list elements and the built-in function len():*

In [ ]:
#Ejemplo de QuantConnect
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

In [ ]:
#Ejemplo Propio
lista = ['Juan', 'Pablo', 7,8,2001]
print(len(lista))
print(lista[0])
print(lista[len(lista) - 1])

5
Juan
2001

* #### *Change list elements*

In [ ]:
#Ejemplo de QuantConnect
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
#Ejemplo Propio
lista = ['Juan', 'Pablo', 7,8,2001]
lista[2] = 'Bustamante'
print(lista)

['Juan', 'Pablo', 'Bustamante', 8, 2001]

* #### *Slicing a list:*

In [ ]:
#Ejemplo de QuantConnect
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
#Ejemplo Propio
lista = ['Juan', 'Pablo', 7,8,2001]
print(lista[1:3])

['Pablo', 7]

* #### *Select all elements starting from index 1:*

In [ ]:
#Ejemplo de QuantConnect
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
#Ejemplo Propio
print(lista[1:])

['Pablo', 7, 8, 2001]

* #### *Select all elements up to index 3 without including it:*

In [ ]:
#Ejemplo de QuantConnect
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
#Ejemplo Propio
print(lista[:3])

['Juan', 'Pablo', 7]

* #### *Methods append() and remove():*

In [ ]:
#Ejemplo de QuantConnect
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [ ]:
#Ejemplo Propio
lista = ['Hola', 'Juan']
lista.append('Hola')
print(lista)
lista.remove('Hola')
print(lista)

['Hola', 'Juan', 'Hola']
['Juan', 'Hola']

### Tuple:

* #### *Creating a tuple*:

In [ ]:
#Ejemplo de QuantConnect
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
#Ejemplo Propio
tupla = ('Presentado','por','@jubustamantem')

* #### *Slicing a tuple:*

In [ ]:
#Ejemplo de QuantConnect
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
#Ejemplo Propio
tupla = ('Presentado','por','@jubustamantem')
print(tupla[1:])

('por', '@jubustamantem')

### Set:

In [ ]:
#Ejemplo de QuantConnect
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'AAPL', 'F', 'GOOG', 'IBM'}

In [ ]:
#Ejemplo Propio
nueva_lista = ['UN','COL','WEA2021','UN','WEA2021','TW','J','COL']
conjunto = set(nueva_lista)
print(conjunto)

{'J', 'TW', 'COL', 'WEA2021', 'UN'}

### Dictionary:

* #### *Creating a dictionary:*

In [ ]:
#Ejemplo de QuantConnect
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

In [ ]:
#Ejemplo Propio
diccionario = {'ALG': 'Algorithms', 'WA': 'WhatsApp', 'JS': 'JavaScript'}

* #### *Access by key:*

In [ ]:
#Ejemplo de QuantConnect
print(my_dic['GOOG'])

Alphabet

In [ ]:
#Ejemplo Propio
print(diccionario['WA'])

WhatsApp

* #### *Change value associated with a key:*

In [ ]:
#Ejemplo de QuantConnect
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
#Ejemplo Propio
diccionario['WA'] = 'WhatsApp Messenger'
print(diccionario['WA'])

WhatsApp Messenger

* #### *Built-in method dict.keys():*

In [ ]:
#Ejemplo de QuantConnect
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
#Ejemplo Propio
print(diccionario.keys())

dict_keys(['ALG', 'WA', 'JS'])

## _**Common String Operations**_

### Slicing by index:

In [ ]:
#Ejemplo de QuantConnect
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
#Ejemplo Propio
mi_cadena = 'Presentado por Juan Pablo Bustamante'
print(mi_cadena[15:])

Juan Pablo Bustamante

### Methods string.count(), string.find() and string.replace():

In [ ]:
#Ejemplo de QuantConnect
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [ ]:
#Ejemplo Propio
print("Contando la cantidad de a's en esta frase".count('a'))
print('La primera vez que la letra z aparece en esta frase'.find('z'))
print("Todas las o's en esta frase se convierten en u".replace('o','u'))

7
13
Tudas las u's en esta frase se cunvierten en u

### Method string.split():

In [ ]:
#Ejemplo de QuantConnect
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
#Ejemplo Propio
tiempo = '2020-07-11 06:22:55'
lista_dividida = tiempo.split(' ')
fecha = lista_dividida[0]
horario = lista_dividida[1]
print(fecha, horario)
hora = horario.split(':')[0]
print(hora)

2020-07-11 06:22:55
06

### String formatting:

In [ ]:
#Ejemplo de QuantConnect
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [ ]:
#Ejemplo Propio
mi_fecha = 'Día: {}, Mes: {}'.format(12, 10)
print(mi_fecha)

Día: 12, Mes: 10

### String formatting using the % symbol:

In [ ]:
#Ejemplo de QuantConnect
print('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [ ]:
#Ejemplo Propio
print('The golden ratio (φ) is %f' % 1.618033988749)
print('%s = %f' % ('3/5', 3/5))
print('Cantidad de tutoriales completados: %d' % 1.0)

The golden ratio (φ) is 1.618034
3/5 = 0.600000
Cantidad de tutoriales completados: 1

# **Tutorial 2. Python: Logical Operations and Loops**

## _**Logical Operations**_

### Comparison operators:

In [ ]:
#Ejemplo de QuantConnect
print(1 == 0)    # 1 equals 0
print(1 == 1)    # 1 equals 1
print(1 != 0)   # 1 is not equal to 0
print(5 >= 5)    # 5 is greater than or equal to 5
print(5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [ ]:
#Ejemplo Propio
print(18 == 9*2)    # 18 equals 9x2
print(18 == 9**2)    # 18 equals 9^2
print(9*2 != 9**2)    # 18 is not equal to 81
print(18 >= 9**2)    # 18 is greater than or equal to 81
print(18 >= 9*2)    # 18 is greater than or equal to 18

True
False
True
False
True

### Complex statements using logical operators:

In [ ]:
#Ejemplo de QuantConnect
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2)
print(2 > 1 or  3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
#Ejemplo Propio
print(9**2 > 18 and 3*3 > 9)
print(9*2 > 3*3 and 3**3 < 9**2)
print(2*9 > 3*9 or  3*3 < 9*2)
print(2**3 < 3*3 and 3**3 < 2*9)

False
True
True
False

### Brackets in very complex statements:

In [ ]:
#Ejemplo de QuantConnect
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
#Ejemplo Propio
print((3**2 > 2**3 or 18 < 3**3) and (9!=3*3 and 81>=9**2) and not (3*2 < 9 and 18 < 3**3 and (18!=9*2 and 81>3**4)))
print((3**2 > 2**3 or 18 < 3**3) and (9!=3*3 and 81>=9**2) or not (3*2 < 9 and 18 < 3**3 and (18!=9*2 and 81>3**4)))

False
True

## _**If Statement**_

### Structure if, elif and else:

In [ ]:
#Ejemplo de QuantConnect
#if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
#elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
#else:
    # if none of the above conditions is True, execute the code here

In [ ]:
#Ejemplo Propio
condicion_1 = 3*2 < 5
condicion_2 = 3**2 < 10
if condicion_1:
    print('6 < 5')
elif condicion_2:
    print('9 < 10')
else:
    print('6 > 5 y 9 > 10')

9 < 10

### Without elif and else:

In [ ]:
#Ejemplo de QuantConnect
i = 0
if i == 0: print('i == 0 is True')

i == 0 is True

In [ ]:
#Ejemplo Propio
operacion = 3**3
if operacion == 27: print('3^3 == 27 is True')

3^3 == 27 is True

### With complex statements:

In [ ]:
#Ejemplo de QuantConnect
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
#Ejemplo Propio
a = 3**3 > 3*3
b = 2**2 > 2*2
c = 3**2 > 3*2 and 2**3 > 2*3
if a and b and c:
    print('Todos los enunciados son correctos')
elif not a and b and c:
    print('a es falsa')
elif a and b and not c:
    print('c es falsa')
elif not a and b and not c:
    print('Sólo b es verdadera')
elif a and not b and c:
    print('b es falsa')
elif not a and not b and c:
    print('Sólo c es verdadera')
elif a and not b and not c:
    print('Sólo a es verdadera')
else:
    print('Todos los enunciados son falsos')

b es falsa

## _**Loop Structure**_

### While Loop:

In [ ]:
#Ejemplo de QuantConnect
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
#Ejemplo Propio
numero = 144.0
while numero >= 4:
    print(numero)
    numero /= 2

144.0
72.0
36.0
18.0
9.0
4.5

### For Loop:

* #### *Simple iteration:*

In [ ]:
#Ejemplo de QuantConnect
for x in [1,2,3,4,5]: print(x)

1
2
3
4
5

In [ ]:
#Ejemplo Propio
for letra in 'JuanPabloBustamante': print(letra)

J
u
a
n
P
a
b
l
o
B
u
s
t
a
m
a
n
t
e

* #### *Pairs trading algorithm:*

In [ ]:
#Ejemplo de QuantConnect
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
#Ejemplo Propio
productos = ['Producto1','Producto2','Producto3','Producto4','Producto5','Producto6', 'Producto7', 'Producto8', 'Producto9']
seleccionados = ['Producto6','Producto2','Producto9']
disponibles = []
for producto in productos:
    if producto not in seleccionados:
        disponibles.append(producto)
print(disponibles)

['Producto1', 'Producto3', 'Producto4', 'Producto5', 'Producto7', 'Producto8']

### Break and continue:

* #### *Break:*

In [ ]:
#Ejemplo de QuantConnect
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print(stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [ ]:
#Ejemplo Propio
digitos = [1,2,3,4,5,6,7,8,9]
for digito in digitos:
    print(digito, 'x', 7, '=', digito*7)
    if digito == 7: break

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49

* #### *Continue:*

In [ ]:
#Ejemplo de QuantConnect
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print(stock)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
#Ejemplo Propio
digitos = [1,2,3,4,5,0,6,7,8,9]
for digito in digitos:
    print(digito, 'x', 9, '=', digito*9)
    if digito == 0: break

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
0 x 9 = 0

## _**List Comprehension**_

### Create a list using a loop:

In [ ]:
#Ejemplo de QuantConnect
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#Ejemplo Propio
cubos_i = []
impares = [1,3,5,7,9]
for j in impares:
    cubos_i.append(j**3)
print(cubos_i)

[1, 27, 125, 343, 729]

### Create a list using list comprehension:

In [ ]:
#Ejemplo de QuantConnect
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#Ejemplo Propio
pares = [2,4,6,8,10]
cubos_p = [y**3 for y in pares]
print(cubos_p)

[8, 64, 216, 512, 1000]

### Select sotcks with list comprehension:

In [ ]:
#Ejemplo de QuantConnect
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
#Ejemplo Propio
productos = ['Producto1','Producto2','Producto3','Producto4','Producto5','Producto6', 'Producto7', 'Producto8', 'Producto9']
seleccionados = ['Producto6','Producto2','Producto9']
disponibles = [producto for producto in productos if producto not in seleccionados]
print(disponibles)

['Producto1', 'Producto3', 'Producto4', 'Producto5', 'Producto7', 'Producto8']

### List comprehension with "for" and "if" clauses:

In [ ]:
#Ejemplo de QuantConnect
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
#Ejemplo Propio
print([(i*j) for i in [4,5,6,7] for j in [2,4,6,8] if i == j])
print([str(m) + ' = ' + str(n) for m in ['Twitter','Facebook','WhatsApp']
                                for n in ['Facebook','Instagram'] if m != n])

[16, 36]
['Twitter = Facebook', 'Twitter = Instagram', 'Facebook = Instagram', 'WhatsApp = Facebook', 'WhatsApp = Instagram']

# **Tutorial 3. Python: Functions and Object-Oriented Programming**

## _**Functions**_

### Define a function:

In [ ]:
#Ejemplo de QuantConnect
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
#Ejemplo Propio
def divisiones_sucesivas(a,b,c):
  for i in range(0,c):
    a = a/b
  return a
print(divisiones_sucesivas(512,2,6))
print(divisiones_sucesivas(2187,3,4))

8.0
27.0

### Function without parameters:

In [ ]:
#Ejemplo de QuantConnect
def say_hi():
    print("Welcome to QuantConnect")
say_hi()

Welcome to QuantConnect

In [ ]:
#Ejemplo Propio
def alfabeto():
    for l in "abcdefghijklmnopqrstuvwxyz": print(l)
alfabeto()

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

## _**Built-in Function**_

### range():

In [ ]:
#Ejemplo de QuantConnect
print(list(range(10)))
print(list(range(1, 11)))
print(list(range(1, 11, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [ ]:
#Ejemplo Propio
print(list(range(6)))
print(list(range(18, 28)))
print(list(range(15, 31, 3)))

[0, 1, 2, 3, 4, 5]
[18, 19, 20, 21, 22, 23, 24, 25, 26, 27]
[15, 18, 21, 24, 27, 30]

### len():

In [ ]:
#Ejemplo de QuantConnect
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print(k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [ ]:
#Ejemplo Propio
redes = ['Facebook', 'Twitter', 'WhatsApp', 'Instagram', 'Tiktok', 'YouTube']
print("El número de redes es {}".format(len(redes)))
for w in range(len(redes)):
    print(w + 1, redes[w])

El número de redes es 6
1 Facebook
2 Twitter
3 WhatsApp
4 Instagram
5 Tiktok
6 YouTube

### map():

* #### *Using the function:*

In [ ]:
#Ejemplo de QuantConnect
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
#Ejemplo Propio
def minusculas(cad):
    return cad.lower()
cadenas = ['JUAN','PABLO','BUSTAMANTE','MORENO','UN', 'ALGORITMOS']
print(list(map(minusculas,cadenas)))

['juan', 'pablo', 'bustamante', 'moreno', 'un', 'algoritmos']

* #### *The lambda operator:*

In [ ]:
#Ejemplo de QuantConnect
print(list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Ejemplo Propio
print(list(range(1,10,2)))
print(list(map(lambda x: x**3 > (x*2)**2, range(1,10,2))))

[1, 3, 5, 7, 9]
[False, False, True, True, True]

* #### *Applying it to more than one list:*

In [ ]:
#Ejemplo de QuantConnect
print(list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])))

[6, 6, 6, 6, 6]

In [ ]:
#Ejemplo Propio
print(list(range(3,17,2)))
print(list(range(16,1,-2)))
print("Vector resultante:")
print(list(map(lambda x, y: (x*y)-(x+y), range(3,17,2), range(16,1,-2))))

[3, 5, 7, 9, 11, 13, 15]
[16, 14, 12, 10, 8, 6, 4, 2]
Vector resultante:
[29, 51, 65, 71, 69, 59, 41]

### sorted():

* #### *Using the function:*

In [ ]:
#Ejemplo de QuantConnect
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
#Ejemplo Propio
sorted([3**2,2**4,2**3,3*4,3**4,4**3,2*3])

[6, 8, 9, 12, 16, 64, 81]

* #### *Adding a key:*

In [ ]:
#Ejemplo de QuantConnect
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [ ]:
#Ejemplo Propio
precios = [('Arroz', 2990, 3), ('Leche', 13200, 1), ('Café', 9360, 4), ('Chocolate', 4792, 2)]
sorted(precios, key = lambda x: x[2])

[('Leche', 13200, 1),
 ('Chocolate', 4792, 2),
 ('Arroz', 2990, 3),
 ('Café', 9360, 4)]

* #### *Reverse order:*

In [ ]:
#Ejemplo de QuantConnect
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [ ]:
#Ejemplo Propio
precios = [('Arroz', 2990, 3), ('Leche', 13200, 1), ('Café', 9360, 4), ('Chocolate', 4792, 2)]
sorted(precios, key = lambda x: x[1], reverse = True)

[('Leche', 13200, 1),
 ('Café', 9360, 4),
 ('Chocolate', 4792, 2),
 ('Arroz', 2990, 3)]

* #### *The list.sort() function:*

In [ ]:
#Ejemplo de QuantConnect
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [ ]:
#Ejemplo Propio
precios = [('Arroz', 2990, 3), ('Leche', 13200, 1), ('Café', 9360, 4), ('Chocolate', 4792, 2)]
precios.sort(key = lambda x: x[0], reverse = True)
print(precios)

[('Leche', 13200, 1), ('Chocolate', 4792, 2), ('Café', 9360, 4), ('Arroz', 2990, 3)]

## _**Object-Oriented Programming**_

### Class:

* #### *Defining a class:*

In [ ]:
#Ejemplo de QuantConnect
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print(self.rate_return)

In [ ]:
#Ejemplo Propio
class Estudiante:
  def __init__(self, nombre, id, sede, carrera):
    self.nombre = nombre
    self.id = id
    self.sede = sede
    self.carrera = carrera
    self.nota1 = None
    self.nota2 = None
    self.nota3 = None
    self.promedio = None

  def actualizar_datos(self, nombre, id, sede, carrera):
    self.nombre = nombre
    self.id = id
    self.sede = sede
    self.carrera = carrera 

  def cargar_notas(self, nota1, nota2, nota3):
    self.nota1 = nota1
    self.nota2 = nota2
    self.nota3 = nota3
    if self.nota1 != None and self.nota2 != None and self.nota3 != None:
      self.promedio = (nota1+nota2+nota3)/3

  def aprobacion(self):
    if self.nota1 == None or self.nota2 == None or self.nota3 == None:
      print("Faltan notas por subir")
    elif self.promedio < 3.0:
      print("Estudiante Reprobado")
    else:
      print("Estudiante Aprobado")

* #### *Creating objects:*

In [ ]:
#Ejemplo de QuantConnect
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [ ]:
#Ejemplo Propio
primer_estudiante = Estudiante("Juan Pablo",1001112569,"Bogotá","Ing. Sistemas")
segundo_estudiante = Estudiante("Rosa Lilia",20659822,"Palmira","Idiomas")

* #### *Accessing the attributes and calling the methods:*

In [ ]:
#Ejemplo de QuantConnect
print(apple.ticker)
google.print_return()
google.update(912.8,913.4)
google.print_return()

AAPL
0.014465338822744034
0.0006573181419806673

In [ ]:
#Ejemplo Propio
print(segundo_estudiante.id)
print(segundo_estudiante.sede)
segundo_estudiante.aprobacion()
segundo_estudiante.cargar_notas(3.0,2.8,1.5)
segundo_estudiante.aprobacion()
segundo_estudiante.actualizar_datos(segundo_estudiante.nombre,segundo_estudiante.id,"Bogotá", segundo_estudiante.carrera)
print(segundo_estudiante.sede)
segundo_estudiante.cargar_notas(4.0,3.8,3.5)
segundo_estudiante.aprobacion()

20659822
Palmira
Faltan notas por subir
Estudiante Reprobado
Bogotá
Estudiante Aprobado

* #### *Adding an attribute::*

In [ ]:
#Ejemplo de QuantConnect
apple.ceo = 'Tim Cook'
print(apple.ceo)

Tim Cook

In [ ]:
#Ejemplo Propio
primer_estudiante.ingreso = 2019
print(primer_estudiante.ingreso)

2019

* #### *The function dir():*

In [ ]:
#Ejemplo de QuantConnect
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
#Ejemplo Propio
dir(primer_estudiante)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'actualizar_datos',
 'aprobacion',
 'cargar_notas',
 'carrera',
 'id',
 'ingreso',
 'nombre',
 'nota1',
 'nota2',
 'nota3',
 'promedio',
 'sede']

### Inheritance:

* #### *Defining the child class:*

In [ ]:
#Ejemplo de QuantConnect
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [ ]:
#Ejemplo Propio
class Monitor(Estudiante):
  def __init__(self, salario):
    self.salario = salario

* #### *Creating an object and using the methods of the parent class:*

In [ ]:
#Ejemplo de QuantConnect
aa = Child('AA')
print(aa.name)
aa.update(100, 102)
print(aa.open)
print(aa.close)
aa.print_return()

AA
100
102
0.020000000000000018

In [ ]:
#Ejemplo Propio
monitor = Monitor(950000)
print(monitor.salario)
monitor.actualizar_datos("Blanca Estela", 51754022, "Medellín", "Artes Plásticas")
print(monitor.nombre)
print(monitor.carrera)
monitor.cargar_notas(5.0, 4.0, None)
monitor.aprobacion()
monitor.cargar_notas(monitor.nota1, monitor.nota2, 0.0)
monitor.aprobacion()

950000
Blanca Estela
Artes Plásticas
Faltan notas por subir
Estudiante Aprobado

# **Tutorial 4. Python: NumPy and Basic Pandas**

## _**NumPy**_

### Import the package:

In [ ]:
import numpy as np

### Basic NumPy Arrays:

* #### *Make an array by passing a list:*

In [ ]:
#Ejemplo de QuantConnect
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
#Ejemplo Propio
lista_notas = [5.0, 4.6, 3.8, 1.5, 2.7, 4.7, 4.0, 3.0, 4.2, 2.2, 3.3, 4.9]
array_notas = np.array(lista_notas)
print(array_notas)
print(type(array_notas))

[5.  4.6 3.8 1.5 2.7 4.7 4.  3.  4.2 2.2 3.3 4.9]
<class 'numpy.ndarray'>

* #### *Create a 2-dimensional array:*

In [ ]:
#Ejemplo de QuantConnect
Ar = np.array([[1,3], [2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
#Ejemplo Propio
costos = np.array([[21200,52990,11490], [15750,4380,44320], [1600, 87150, 34800]])
print(costos)
print(type(costos))

[[21200 52990 11490]
 [15750  4380 44320]
 [ 1600 87150 34800]]
<class 'numpy.ndarray'>

* #### *Get the dimensions of an ndarray:*

In [ ]:
#Ejemplo de QuantConnect
print(Ar.shape)

(2, 2)

In [ ]:
#Ejemplo Propio
print(costos.shape)

(3, 3)

* #### *Access each row by index:*

In [ ]:
#Ejemplo de QuantConnect
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [ ]:
#Ejemplo Propio
print(costos[2])
print(costos[0])
print(costos[1])

[ 1600 87150 34800]
[21200 52990 11490]
[15750  4380 44320]

* #### *Access the matrix by column:*

In [ ]:
#Ejemplo de QuantConnect
print('First column:', Ar[:,0])
print('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [ ]:
#Ejemplo Propio
print('Tercera columna:', costos[:,2])
print('Segunda columna:', costos[:,1])
print('Primera columna:', costos[:,0])

Tercera columna: [11490 44320 34800]
Segunda columna: [52990  4380 87150]
Primera columna: [21200 15750  1600]

### Array Functions:

* #### *Natural logarithm to each element of an array:*

In [ ]:
#Ejemplo de QuantConnect
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [ ]:
#Ejemplo Propio
print(np.log(array_notas))
print(np.log(costos))

[1.60943791 1.5260563  1.33500107 0.40546511 0.99325177 1.54756251
 1.38629436 1.09861229 1.43508453 0.78845736 1.19392247 1.58923521]
[[ 9.96175646 10.8778585   9.34923237]
 [ 9.66459564  8.384804   10.69919132]
 [ 7.37775891 11.37538605 10.45737267]]

* #### *Functions that return a single value:*

In [ ]:
#Ejemplo de QuantConnect
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
#Ejemplo Propio
print(np.median(array_notas))
print(np.var(costos))
print(np.sum(costos[2]))
print(np.percentile(array_notas,75))
print(np.count_nonzero(array_notas))
print(np.dot(costos[1], costos[2]))
print(np.trace(costos))

4.1
678591920.9876542
123550
4.625
12
1949253000
60380

## _**Pandas**_

### Import the package:

In [39]:
import pandas as pd

###Series:

* #### *Create a Series:*

In [ ]:
#Ejemplo de QuantConnect
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print(s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
#Ejemplo Propio
serie = pd.Series(array_notas)
print(serie)

0     5.0
1     4.6
2     3.8
3     1.5
4     2.7
5     4.7
6     4.0
7     3.0
8     4.2
9     2.2
10    3.3
11    4.9
dtype: float64

* #### *Customize the indices of a new Series:*

In [ ]:
#Ejemplo de QuantConnect
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
#Ejemplo Propio
serie = pd.Series(array_notas, index = ['primero', 'segundo', 'tercero',
                                        'cuarto', 'quinto', 'sexto',
                                        'séptimo', 'octavo', 'noveno',
                                        'décimo', 'undécimo', 'duodécimo'])
print(serie)

primero      5.0
segundo      4.6
tercero      3.8
cuarto       1.5
quinto       2.7
sexto        4.7
séptimo      4.0
octavo       3.0
noveno       4.2
décimo       2.2
undécimo     3.3
duodécimo    4.9
dtype: float64

* #### *Change the indices of an existing Series:*

In [ ]:
#Ejemplo de QuantConnect
s.index = [6,5,4,3,2,1]
print(s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
#Ejemplo Propio
serie.index = ['l','k','j','i','h','g','f','e','d','c','b','a']
print(serie)

l    5.0
k    4.6
j    3.8
i    1.5
h    2.7
g    4.7
f    4.0
e    3.0
d    4.2
c    2.2
b    3.3
a    4.9
dtype: float64

* #### *Slice a Series by index:*

In [ ]:
#Ejemplo de QuantConnect
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
#Ejemplo Propio
print(serie[2:10])
print(serie[5:-5])

j    3.8
i    1.5
h    2.7
g    4.7
f    4.0
e    3.0
d    4.2
c    2.2
dtype: float64
g    4.7
f    4.0
dtype: float64

* #### *Set or fetch values by index label:*

In [ ]:
#Ejemplo de QuantConnect
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
#Ejemplo Propio
print(serie['i'])
serie['i'] = 4.4
print(serie)

1.5
l    5.0
k    4.6
j    3.8
i    4.4
h    2.7
g    4.7
f    4.0
e    3.0
d    4.2
c    2.2
b    3.3
a    4.9
dtype: float64

* #### *The name attribute:*

In [ ]:
#Ejemplo de QuantConnect
s = pd.Series(price, name = 'Apple Prices')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [ ]:
#Ejemplo Propio
serie = pd.Series(array_notas, name = "Notas 2021-II")
print(serie)
print(serie.name)

0     5.0
1     4.6
2     3.8
3     4.4
4     2.7
5     4.7
6     4.0
7     3.0
8     4.2
9     2.2
10    3.3
11    4.9
Name: Notas 2021-II, dtype: float64
Notas 2021-II

* #### *The statistical summaries:*

In [ ]:
#Ejemplo de QuantConnect
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [ ]:
#Ejemplo Propio
print(serie.describe())

count    12.000000
mean      3.900000
std       0.914529
min       2.200000
25%       3.225000
50%       4.100000
75%       4.625000
max       5.000000
Name: Notas 2021-II, dtype: float64

### Time index:

* #### *Creating date indices:*

In [ ]:
#Ejemplo de QuantConnect
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
#Ejemplo Propio
indices_tiempo = pd.date_range('2009-12-31', periods = len(serie), freq = 'Y')
print(indices_tiempo)
serie.index = indices_tiempo
print(serie)

DatetimeIndex(['2009-12-31', '2010-12-31', '2011-12-31', '2012-12-31',
               '2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31',
               '2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
2009-12-31    5.0
2010-12-31    4.6
2011-12-31    3.8
2012-12-31    4.4
2013-12-31    2.7
2014-12-31    4.7
2015-12-31    4.0
2016-12-31    3.0
2017-12-31    4.2
2018-12-31    2.2
2019-12-31    3.3
2020-12-31    4.9
Freq: A-DEC, Name: Notas 2021-II, dtype: float64

* #### *Previous example:*

In [ ]:
#Ejemplo de QuantConnect
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [ ]:
#Ejemplo Propio
serie.index = ['l','k','j','i','h','g','f','e','d','c','b','a']
print(serie)
print("Elemento en la quinta posición:", serie[4])
serie.index = [12,11,10,9,8,7,6,5,4,3,2,1]
print(serie)
print("Elemento con el índice etiquetado como '4':", serie[4])

l    5.0
k    4.6
j    3.8
i    4.4
h    2.7
g    4.7
f    4.0
e    3.0
d    4.2
c    2.2
b    3.3
a    4.9
Name: Notas 2021-II, dtype: float64
Elemento en la quinta posición: 2.7
12    5.0
11    4.6
10    3.8
9     4.4
8     2.7
7     4.7
6     4.0
5     3.0
4     4.2
3     2.2
2     3.3
1     4.9
Name: Notas 2021-II, dtype: float64
Elemento con el índice etiquetado como '4': 4.2

* #### *Using iloc[]:*

In [ ]:
#Ejemplo de QuantConnect
print(s.iloc[1])

145.83

In [ ]:
#Ejemplo Propio
print("Elemento en la quinta posición:", serie.iloc[4])

Elemento en la quinta posición: 2.7

* #### *Access the data by time index:*

In [ ]:
#Ejemplo de QuantConnect
s.index = time_index
print(s['2017-01-03'])

143.68

In [ ]:
#Ejemplo Propio
serie.index = indices_tiempo
print(serie['2014-12-31'])

4.7

* #### *Access to a range of dates:*

In [ ]:
#Ejemplo de QuantConnect
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
#Ejemplo Propio
print(serie['2012':'2018'])

2012-12-31    4.4
2013-12-31    2.7
2014-12-31    4.7
2015-12-31    4.0
2016-12-31    3.0
2017-12-31    4.2
2018-12-31    2.2
Freq: A-DEC, Name: Notas 2021-II, dtype: float64

* #### *Adding conditions in the square brackets:*

In [ ]:
#Ejemplo de QuantConnect
print(s[s < np.mean(s)])
print(s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
#Ejemplo Propio
print(serie[(serie >= np.median(serie)) & (serie < np.percentile(serie,75))])
print(serie[(serie > np.percentile(serie,90)) | ~(serie > np.var(serie)*np.mean(serie))])

2010-12-31    4.6
2012-12-31    4.4
2017-12-31    4.2
Name: Notas 2021-II, dtype: float64
2009-12-31    5.0
2013-12-31    2.7
2018-12-31    2.2
2020-12-31    4.9
Name: Notas 2021-II, dtype: float64

# **Tutorial 5. Python: Pandas-Resampling and DataFrame**

## _**Fetching Data**_

### Use the Quandl API:

In [48]:
!pip install quandl
import quandl
quandl.ApiConfig.api_key = 'Wfg5yZAz9QGfoxRSESK6'

Requirement already satisfied: quandl in /usr/local/lib/python3.7/dist-packages (3.6.1)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from quandl) (0.5.1)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.10.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)

### Create a Series:

In [49]:
#Ejemplo de QuantConnect
aapl_table = quandl.get('WIKI/AAPL')
aapl = aapl_table['Adj. Close']['2017']
print(aapl)

Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
                 ...
2017-12-22    175.010000
2017-12-26    170.570000
2017-12-27    170.600000
2017-12-28    171.080000
2017-12-29    169.230000
Name: Adj. Close, Length: 249, dtype: float64

In [50]:
#Ejemplo Propio
googl_table = quandl.get('WIKI/GOOGL')
googl = googl_table['Adj. Close']['2014']
print(googl)

Date
2014-01-02    558.283367
2014-01-03    554.210796
2014-01-06    560.389870
2014-01-07    571.193219
2014-01-08    572.381888
                 ...
2014-12-24    536.930000
2014-12-26    541.520000
2014-12-29    537.310000
2014-12-30    535.280000
2014-12-31    530.660000
Name: Adj. Close, Length: 252, dtype: float64

### Fetch the data in a specific month:

In [51]:
#Ejemplo de QuantConnect
print(aapl['2017-3'])

Date
2017-03-01    138.657681
2017-03-02    137.834404
2017-03-03    138.647762
2017-03-06    138.211326
2017-03-07    138.389868
2017-03-08    137.874080
2017-03-09    137.556672
2017-03-10    138.012946
2017-03-13    138.072460
2017-03-14    137.864161
2017-03-15    139.322254
2017-03-16    139.550391
2017-03-17    138.856061
2017-03-20    140.314154
2017-03-21    138.707276
2017-03-22    140.274478
2017-03-23    139.778528
2017-03-24    139.500796
2017-03-27    139.738852
2017-03-28    142.635200
2017-03-29    142.952608
2017-03-30    142.764147
2017-03-31    142.496334
Name: Adj. Close, dtype: float64

In [52]:
#Ejemplo Propio
print(googl['2014-5'])

Date
2014-05-01    538.53
2014-05-02    533.87
2014-05-05    535.33
2014-05-06    522.57
2014-05-07    518.00
2014-05-08    520.17
2014-05-09    526.62
2014-05-12    538.43
2014-05-13    541.54
2014-05-14    534.41
2014-05-15    529.12
2014-05-16    528.30
2014-05-19    538.83
2014-05-20    540.39
2014-05-21    549.70
2014-05-22    555.45
2014-05-23    563.80
2014-05-27    574.87
2014-05-28    570.45
2014-05-29    570.56
2014-05-30    571.65
Name: Adj. Close, dtype: float64

### Fetch the data in several consecutive months:

In [53]:
#Ejemplo de QuantConnect
print(aapl['2017-2':'2017-4'])

Date
2017-02-01    127.159749
2017-02-02    126.942467
2017-02-03    127.485673
2017-02-06    128.680728
2017-02-07    129.905412
                 ...
2017-04-24    142.476496
2017-04-25    143.369205
2017-04-26    142.487208
2017-04-27    142.625281
2017-04-28    142.486415
Name: Adj. Close, Length: 61, dtype: float64

In [54]:
#Ejemplo Propio
print(googl['2014-7':'2014-11'])

Date
2014-07-01    591.49
2014-07-02    590.78
2014-07-03    593.08
2014-07-07    590.76
2014-07-08    578.40
               ...
2014-11-21    545.89
2014-11-24    547.48
2014-11-25    549.23
2014-11-26    547.73
2014-11-28    549.08
Name: Adj. Close, Length: 106, dtype: float64

### Methods for quickly accessing the first or last elements:

In [55]:
#Ejemplo de QuantConnect
print(aapl.head())
print(aapl.tail(10))

Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
Name: Adj. Close, dtype: float64
Date
2017-12-15    173.87
2017-12-18    176.42
2017-12-19    174.54
2017-12-20    174.35
2017-12-21    175.01
2017-12-22    175.01
2017-12-26    170.57
2017-12-27    170.60
2017-12-28    171.08
2017-12-29    169.23
Name: Adj. Close, dtype: float64

In [56]:
#Ejemplo Propio
print(googl.head(8))
print(googl.tail(7))

Date
2014-01-02    558.283367
2014-01-03    554.210796
2014-01-06    560.389870
2014-01-07    571.193219
2014-01-08    572.381888
2014-01-09    566.869873
2014-01-10    566.839780
2014-01-13    563.228633
Name: Adj. Close, dtype: float64
Date
2014-12-22    532.30
2014-12-23    538.77
2014-12-24    536.93
2014-12-26    541.52
2014-12-29    537.31
2014-12-30    535.28
2014-12-31    530.66
Name: Adj. Close, dtype: float64

## _**Resampling**_

### Aggregate the daily data into monthly data by mean:

In [57]:
#Ejemplo de QuantConnect
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    118.093136
2017-02-28    132.456268
2017-03-31    139.478802
2017-04-30    141.728436
2017-05-31    151.386305
2017-06-30    147.233064
2017-07-31    147.706190
2017-08-31    158.856375
2017-09-30    157.606500
2017-10-31    157.811627
2017-11-30    172.214500
2017-12-31    171.893100
Freq: M, Name: Adj. Close, dtype: float64

In [58]:
#Ejemplo Propio
mensual = googl.resample('M').mean()
print(mensual)

Date
2014-01-31    569.946752
2014-02-28    596.930826
2014-03-31    593.053318
2014-04-30    546.673308
2014-05-31    542.980476
2014-06-30    567.282143
2014-07-31    592.485455
2014-08-31    583.337619
2014-09-30    592.129524
2014-10-31    557.543478
2014-11-30    552.544211
2014-12-31    529.193182
Freq: M, Name: Adj. Close, dtype: float64

### Aggregate the data by week:

In [59]:
#Ejemplo de QuantConnect
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    115.231424
2017-01-15    117.755360
2017-01-22    118.461035
2017-01-29    119.667448
2017-02-05    124.313346
Freq: W-SUN, Name: Adj. Close, dtype: float64

In [60]:
#Ejemplo Propio
semanal = googl.resample('W').mean()
print(semanal.head())

Date
2014-01-05    556.247081
2014-01-12    567.534926
2014-01-19    574.548576
2014-01-26    578.366612
2014-02-02    566.500733
Freq: W-SUN, Name: Adj. Close, dtype: float64

### Different frequencies:

In [61]:
#Ejemplo de QuantConnect
three_day = aapl.resample('3D').mean()
two_week  = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()
print(three_day)
print(two_week)
print(two_month)

Date
2017-01-03    114.824019
2017-01-06    116.453639
2017-01-09    117.810010
2017-01-12    117.673385
2017-01-15    118.517825
                 ...
2017-12-17    175.480000
2017-12-20    174.790000
2017-12-23           NaN
2017-12-26    170.750000
2017-12-29    169.230000
Freq: 3D, Name: Adj. Close, Length: 121, dtype: float64
Date
2017-01-08    115.231424
2017-01-22    118.068993
2017-02-05    121.990397
2017-02-19    132.081078
2017-03-05    136.601142
2017-03-19    138.371022
2017-04-02    140.916237
2017-04-16    141.857109
2017-04-30    141.612630
2017-05-14    149.598217
2017-05-28    152.932484
2017-06-11    153.021346
2017-06-25    144.695904
2017-07-09    143.594041
2017-07-23    147.841142
2017-08-06    152.018194
2017-08-20    158.929140
2017-09-03    161.188000
2017-09-17    160.445556
2017-10-01    154.407000
2017-10-15    155.371080
2017-10-29    158.238500
2017-11-12    171.430000
2017-11-26    172.076667
2017-12-10    170.681200
2017-12-24    173.806000
2018-01-07    170.370000
Freq: 2W-SUN, Name: Adj. Close, dtype: float64
Date
2017-01-31    118.093136
2017-03-31    136.301941
2017-05-31    146.910707
2017-07-31    147.458362
2017-09-30    158.261196
2017-11-30    164.670138
2018-01-31    171.893100
Freq: 2M, Name: Adj. Close, dtype: float64

In [62]:
#Ejemplo Propio
veinte_dias = googl.resample('20D').mean()
tres_semanas  = googl.resample('3W').mean()
semestral = googl.resample('6M').mean()
print(veinte_dias)
print(tres_semanas)
print(semestral)

Date
2014-01-02    569.735642
2014-01-22    573.971438
2014-02-11    605.261847
2014-03-03    602.987699
2014-03-23    560.946244
2014-04-12    539.521538
2014-05-02    532.662857
2014-05-22    565.336923
2014-06-11    569.308929
2014-07-01    589.110000
2014-07-21    588.633333
2014-08-10    586.456000
2014-08-30    591.775385
2014-09-19    588.144286
2014-10-09    546.037857
2014-10-29    557.860714
2014-11-18    543.134615
2014-12-08    525.223571
2014-12-28    534.416667
Freq: 20D, Name: Adj. Close, dtype: float64
Date
2014-01-05    556.247081
2014-01-26    573.134569
2014-02-16    580.198016
2014-03-09    608.267664
2014-03-30    590.040733
2014-04-20    554.643571
2014-05-11    531.280000
2014-06-01    550.535714
2014-06-22    561.669000
2014-07-13    584.460714
2014-08-03    594.248000
2014-08-24    583.474667
2014-09-14    589.747857
2014-10-05    589.958667
2014-10-26    552.088667
2014-11-16    558.148667
2014-12-07    543.385000
2014-12-28    525.223571
2015-01-18    534.416667
Freq: 3W-SUN, Name: Adj. Close, dtype: float64
Date
2014-01-31    569.946752
2014-07-31    573.009119
2015-01-31    562.725472
Freq: 6M, Name: Adj. Close, dtype: float64

### Different methods:

In [63]:
#Ejemplo de QuantConnect
std = aapl.resample('W').std()    # standard deviation
max = aapl.resample('W').max()    # maximum value
min = aapl.resample('W').min()    # minimum value
print(std)
print(max)
print(min)

Date
2017-01-08    0.852296
2017-01-15    0.303965
2017-01-22    0.107097
2017-01-29    1.027976
2017-02-05    3.953127
2017-02-12    1.054342
2017-02-19    0.969247
2017-02-26    0.248701
2017-03-05    1.425250
2017-03-12    0.319693
2017-03-19    0.745266
2017-03-26    0.659058
2017-04-02    1.340247
2017-04-09    0.539305
2017-04-16    0.890443
2017-04-23    0.732013
2017-04-30    0.385246
2017-05-07    0.983818
2017-05-14    1.480644
2017-05-21    2.250808
2017-05-28    0.253079
2017-06-04    1.178505
2017-06-11    2.598342
2017-06-18    1.593357
2017-06-25    0.555420
2017-07-02    1.104805
2017-07-09    0.665854
2017-07-16    1.694205
2017-07-23    0.523784
2017-07-30    1.611054
2017-08-06    3.836757
2017-08-13    2.272546
2017-08-20    1.821903
2017-08-27    1.155790
2017-09-03    1.055026
2017-09-10    1.599521
2017-09-17    1.226206
2017-09-24    3.081331
2017-10-01    1.487222
2017-10-08    0.867246
2017-10-15    0.497624
2017-10-22    2.190114
2017-10-29    2.852625
2017-11-05    2.349930
2017-11-12    0.693752
2017-11-19    1.821639
2017-11-26    2.351374
2017-12-03    1.785083
2017-12-10    0.299377
2017-12-17    0.816474
2017-12-24    0.810697
2017-12-31    0.795110
Freq: W-SUN, Name: Adj. Close, dtype: float64
Date
2017-01-08    116.453639
2017-01-15    118.270913
2017-01-22    118.517825
2017-01-29    120.443739
2017-02-05    127.485673
2017-02-12    131.347379
2017-02-19    134.620649
2017-02-26    135.999390
2017-03-05    138.657681
2017-03-12    138.389868
2017-03-19    139.550391
2017-03-26    140.314154
2017-04-02    142.952608
2017-04-09    143.597342
2017-04-16    142.010303
2017-04-23    141.286216
2017-04-30    143.369205
2017-05-07    147.753403
2017-05-14    155.469192
2017-05-21    155.070808
2017-05-28    153.367718
2017-06-04    154.821818
2017-06-11    154.742142
2017-06-18    145.997622
2017-06-25    145.758592
2017-07-02    145.240693
2017-07-09    143.597361
2017-07-16    148.437722
2017-07-23    150.409720
2017-07-30    152.839860
2017-08-06    156.504989
2017-08-13    160.409148
2017-08-20    161.600000
2017-08-27    159.980000
2017-09-03    164.050000
2017-09-10    162.080000
2017-09-17    161.500000
2017-09-24    158.730000
2017-10-01    154.230000
2017-10-08    155.390000
2017-10-15    156.990000
2017-10-22    160.470000
2017-10-29    163.050000
2017-11-05    172.500000
2017-11-12    175.880000
2017-11-19    173.970000
2017-11-26    174.970000
2017-12-03    174.090000
2017-12-10    169.800000
2017-12-17    173.870000
2017-12-24    176.420000
2017-12-31    171.080000
Freq: W-SUN, Name: Adj. Close, dtype: float64
Date
2017-01-08    114.586983
2017-01-15    117.520300
2017-01-22    118.300542
2017-01-29    118.488195
2017-02-05    119.851150
2017-02-12    128.680728
2017-02-19    132.210332
2017-02-26    135.424088
2017-03-05    135.820848
2017-03-12    137.556672
2017-03-19    137.864161
2017-03-26    138.707276
2017-04-02    139.738852
2017-04-09    142.178926
2017-04-16    139.907475
2017-04-23    139.540472
2017-04-30    142.476496
2017-05-07    145.343086
2017-05-14    151.760678
2017-05-21    149.642832
2017-05-28    152.720345
2017-06-04    152.142689
2017-06-11    148.377964
2017-06-18    141.695080
2017-06-25    144.424007
2017-07-02    143.099382
2017-07-09    142.153221
2017-07-16    144.473805
2017-07-23    148.955620
2017-07-30    148.895863
2017-08-06    148.248489
2017-08-13    155.270000
2017-08-20    157.500000
2017-08-27    157.210000
2017-09-03    161.470000
2017-09-10    158.630000
2017-09-17    158.280000
2017-09-24    151.890000
2017-10-01    150.550000
2017-10-08    153.450800
2017-10-15    155.840000
2017-10-22    155.980000
2017-10-29    156.170000
2017-11-05    166.720000
2017-11-12    174.250000
2017-11-19    169.080000
2017-11-26    169.980000
2017-12-03    169.480000
2017-12-10    169.010000
2017-12-17    171.700000
2017-12-24    174.350000
2017-12-31    169.230000
Freq: W-SUN, Name: Adj. Close, dtype: float64

In [64]:
#Ejemplo Propio
dev = googl.resample('3M').std()
maximo = googl.resample('3M').max()
minimo = googl.resample('3M').min()
print(dev)
print(maximo)
print(minimo)

Date
2014-01-31    11.014532
2014-04-30    27.824487
2014-07-31    24.143012
2014-10-31    19.318155
2015-01-31    15.206120
Freq: 3M, Name: Adj. Close, dtype: float64
Date
2014-01-31    592.313415
2014-04-30    611.974105
2014-07-31    605.190000
2014-10-31    605.400000
2015-01-31    564.190000
Freq: 3M, Name: Adj. Close, dtype: float64
Date
2014-01-31    552.319959
2014-04-30    522.980000
2014-07-31    518.000000
2014-10-31    522.970000
2015-01-31    498.160000
Freq: 3M, Name: Adj. Close, dtype: float64

### Return the last day of each month:

In [65]:
#Ejemplo de QuantConnect
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    119.851150
2017-02-28    135.880362
2017-03-31    142.496334
2017-04-30    142.486415
2017-05-31    152.142689
2017-06-30    143.438008
2017-07-31    148.248489
2017-08-31    164.000000
2017-09-30    154.120000
2017-10-31    169.040000
2017-11-30    171.850000
2017-12-31    169.230000
Freq: M, Name: Adj. Close, dtype: float64

In [66]:
#Ejemplo Propio
ultimo_dia = googl.resample('M').agg(lambda x: x[-1])
print(ultimo_dia)

Date
2014-01-31    592.313415
2014-02-28    609.707107
2014-03-31    558.980519
2014-04-30    534.880000
2014-05-31    571.650000
2014-06-30    584.670000
2014-07-31    579.550000
2014-08-31    582.360000
2014-09-30    588.410000
2014-10-31    567.870000
2014-11-30    549.080000
2014-12-31    530.660000
Freq: M, Name: Adj. Close, dtype: float64

### Monthly rates of return:

In [67]:
#Ejemplo de QuantConnect
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[1] - 1)
print(monthly_return)

Date
2017-01-31    0.045940
2017-02-28    0.070409
2017-03-31    0.033823
2017-04-30   -0.007736
2017-05-31    0.039829
2017-06-30   -0.073528
2017-07-31    0.033035
2017-08-31    0.047890
2017-09-30   -0.049112
2017-10-31    0.094252
2017-11-30    0.022247
2017-12-31   -0.003357
Freq: M, Name: Adj. Close, dtype: float64

In [68]:
#Ejemplo Propio
retorno_mensual = googl.resample('M').agg(lambda x: x[-1]/x[1] - 1)
print(retorno_mensual)

Date
2014-01-31    0.068751
2014-02-28    0.068084
2014-03-31   -0.082640
2014-04-30   -0.060472
2014-05-31    0.070766
2014-06-30    0.054390
2014-07-31   -0.019009
2014-08-31    0.000155
2014-09-30   -0.001883
2014-10-31   -0.022397
2014-11-30   -0.026782
2014-12-31   -0.014724
Freq: M, Name: Adj. Close, dtype: float64

### Methods for quick calculation:

In [69]:
#Ejemplo de QuantConnect
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02114094011940022
0.04775652864223314
0.09425168306576914

In [70]:
#Ejemplo Propio
print(retorno_mensual.mean())
print(retorno_mensual.std())
print(retorno_mensual.max())
print(retorno_mensual.min())
print(retorno_mensual.var())
print(retorno_mensual.median())

0.002853295069011543
0.05180155725389699
0.07076629141925928
-0.08263986632754705
0.002683401333928768
-0.008303258996375629

### Methods .diff() and .pct_change():

In [71]:
#Ejemplo de QuantConnect
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31          NaN
2017-02-28    16.029211
2017-03-31     6.615972
2017-04-30    -0.009919
2017-05-31     9.656274
2017-06-30    -8.704681
2017-07-31     4.810482
2017-08-31    15.751511
2017-09-30    -9.880000
2017-10-31    14.920000
2017-11-30     2.810000
2017-12-31    -2.620000
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [72]:
#Ejemplo Propio
print(ultimo_dia.diff())
print(ultimo_dia.pct_change())

Date
2014-01-31          NaN
2014-02-28    17.393693
2014-03-31   -50.726588
2014-04-30   -24.100519
2014-05-31    36.770000
2014-06-30    13.020000
2014-07-31    -5.120000
2014-08-31     2.810000
2014-09-30     6.050000
2014-10-31   -20.540000
2014-11-30   -18.790000
2014-12-31   -18.420000
Freq: M, Name: Adj. Close, dtype: float64
Date
2014-01-31         NaN
2014-02-28    0.029366
2014-03-31   -0.083198
2014-04-30   -0.043115
2014-05-31    0.068744
2014-06-30    0.022776
2014-07-31   -0.008757
2014-08-31    0.004849
2014-09-30    0.010389
2014-10-31   -0.034908
2014-11-30   -0.033089
2014-12-31   -0.033547
Freq: M, Name: Adj. Close, dtype: float64

### Fill NaN value with 0:

In [73]:
#Ejemplo de QuantConnect
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [74]:
#Ejemplo Propio
retorno_diario = ultimo_dia.pct_change()
print(retorno_diario.fillna(0))

Date
2014-01-31    0.000000
2014-02-28    0.029366
2014-03-31   -0.083198
2014-04-30   -0.043115
2014-05-31    0.068744
2014-06-30    0.022776
2014-07-31   -0.008757
2014-08-31    0.004849
2014-09-30    0.010389
2014-10-31   -0.034908
2014-11-30   -0.033089
2014-12-31   -0.033547
Freq: M, Name: Adj. Close, dtype: float64

### Backward fill:

In [75]:
#Ejemplo de QuantConnect
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133743
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [76]:
#Ejemplo Propio
retorno_diario = ultimo_dia.pct_change()
print(retorno_diario.fillna('bfill'))

Date
2014-01-31         bfill
2014-02-28     0.0293657
2014-03-31    -0.0831983
2014-04-30    -0.0431151
2014-05-31     0.0687444
2014-06-30     0.0227762
2014-07-31   -0.00875708
2014-08-31    0.00484859
2014-09-30     0.0103888
2014-10-31    -0.0349076
2014-11-30    -0.0330886
2014-12-31     -0.033547
Freq: M, Name: Adj. Close, dtype: object

### Remove NaN values:

In [77]:
#Ejemplo de QuantConnect
daily_return = last_day.pct_change().dropna()
print(daily_return)

Date
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [78]:
#Ejemplo Propio
retorno_diario = ultimo_dia.pct_change().dropna()
print(retorno_diario)

Date
2014-02-28    0.029366
2014-03-31   -0.083198
2014-04-30   -0.043115
2014-05-31    0.068744
2014-06-30    0.022776
2014-07-31   -0.008757
2014-08-31    0.004849
2014-09-30    0.010389
2014-10-31   -0.034908
2014-11-30   -0.033089
2014-12-31   -0.033547
Freq: M, Name: Adj. Close, dtype: float64

## _**Data Frame**_

### Create DataFrames:

In [79]:
#Ejemplo de QuantConnect
import pandas as pd
dict = {'AAPL': [143.5,  144.09, 142.73, 144.18, 143.77],
        'GOOG': [898.7,  911.71, 906.69, 918.59, 926.99],
        'IBM':  [155.58, 153.67, 152.36, 152.94, 153.49]}
dates = pd.date_range('2017-07-03', periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = dates)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [80]:
#Ejemplo Propio
import pandas as pd
dic = {'Estudiante1': [3.5, 5.0, 4.8, 4.5, 2.8, 3.9, 4.1, 4.4],
        'Estudiante2': [5.0, 2.5, 4.9, 4.7, 4.6, 4.3, 2.0, 5.0],
        'Estudiante3':  [2.9, 3.0, 2.8, 3.3, 2.1, 4.0, 3.9, 5.0]}
fechas = pd.date_range('2013-12-31', periods = 8, freq = 'Y')
df2 = pd.DataFrame(dic, index = fechas)
print(df2)

            Estudiante1  Esttudiante2  Estudiante3
2013-12-31          3.5           5.0          2.9
2014-12-31          5.0           2.5          3.0
2015-12-31          4.8           4.9          2.8
2016-12-31          4.5           4.7          3.3
2017-12-31          2.8           4.6          2.1
2018-12-31          3.9           4.3          4.0
2019-12-31          4.1           2.0          3.9
2020-12-31          4.4           5.0          5.0

### Manipulating DataFrames:

* #### *Fetch a column:*

In [81]:
#Ejemplo de QuantConnect
df = aapl_table
print(df.Close.tail(5))
print(df['Adj. Volume'].tail(5))

Date
2018-03-21    171.270
2018-03-22    168.845
2018-03-23    164.940
2018-03-26    172.770
2018-03-27    168.340
Name: Close, dtype: float64
Date
2018-03-21    35247358.0
2018-03-22    41051076.0
2018-03-23    40248954.0
2018-03-26    36272617.0
2018-03-27    38962839.0
Name: Adj. Volume, dtype: float64

In [82]:
#Ejemplo Propio
df2 = googl_table
print(df2.Close.tail(5))
print(df2['Adj. Volume'].tail(5))

Date
2018-03-21    1094.00
2018-03-22    1053.15
2018-03-23    1026.55
2018-03-26    1054.09
2018-03-27    1006.94
Name: Close, dtype: float64
Date
2018-03-21    1990515.0
2018-03-22    3418154.0
2018-03-23    2413517.0
2018-03-26    3272409.0
2018-03-27    2940957.0
Name: Adj. Volume, dtype: float64

* #### *Resampling:*

In [83]:
#Ejemplo de QuantConnect
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

              Open      High     Low  ...    Adj. Low  Adj. Close  Adj. Volume
Date                                  ...
2016-01-31   94.79   97.3400   94.35  ...   91.156128   94.044912   64416504.0
2016-02-29   96.86   98.2300   96.65  ...   93.880927   93.919781   35216277.0
2016-03-31  109.72  109.9000  108.88  ...  105.760531  105.867380   25888449.0
2016-04-30   93.99   94.7200   92.51  ...   89.859540   91.054300   68531478.0
2016-05-31   99.60  100.4000   98.82  ...   96.575559   97.591939   42307212.0
2016-06-30   94.44   95.7700   94.30  ...   92.158220   93.428693   35836356.0
2016-07-31  104.19  104.5500  103.68  ...  101.325177  101.843140   27733688.0
2016-08-31  105.66  106.5699  105.64  ...  103.796505  104.248477   29662406.0
2016-09-30  112.46  113.3700  111.80  ...  109.849008  111.077195   36379106.0
2016-10-31  113.65  114.2300  113.20  ...  111.224577  111.558644   26419398.0
2016-11-30  111.56  112.2000  110.27  ...  108.908004  109.154917   36162258.0
2016-12-31  116.65  117.2000  115.43  ...  114.004271  114.389454   30586265.0

[12 rows x 12 columns]

In [88]:
#Ejemplo Propio
googl_2012 = df2['2012']
googl_month = googl_2012.resample('M').agg(lambda x: x[-1])
print(googl_month)

              Open     High     Low  ...    Adj. Low  Adj. Close  Adj. Volume
Date                                 ...
2012-01-31  583.00  584.000  575.15  ...  288.465465  290.953144    4280500.0
2012-02-29  618.60  625.600  615.50  ...  308.702936  310.082194    6267500.0
2012-03-31  651.75  653.490  641.00  ...  321.492416  321.612788    4616700.0
2012-04-30  612.99  616.082  600.61  ...  301.234883  303.361448    4809700.0
2012-05-31  588.72  590.000  579.00  ...  290.396426  291.329306    5930600.0
2012-06-30  574.96  580.130  572.20  ...  286.985898  290.933083    5033900.0
2012-07-31  628.26  636.500  628.22  ...  315.082630  317.464984    3727400.0
2012-08-31  684.00  688.580  680.04  ...  341.072859  343.605678    4249900.0
2012-09-30  754.15  759.300  751.15  ...  376.737954  378.418141    5561400.0
2012-10-31  679.86  681.000  675.00  ...  338.545056  341.202058    3070900.0
2012-11-30  691.31  699.220  685.69  ...  343.906607  350.266238    6320800.0
2012-12-31  700.00  710.570  696.00  ...  349.077569  354.785188    3990800.0

[12 rows x 12 columns]

* #### *Select columns by name:*

In [85]:
#Ejemplo de QuantConnect
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

              Open      High     Low   Close
Date
2016-01-31   94.79   97.3400   94.35   97.34
2016-02-29   96.86   98.2300   96.65   96.69
2016-03-31  109.72  109.9000  108.88  108.99
2016-04-30   93.99   94.7200   92.51   93.74
2016-05-31   99.60  100.4000   98.82   99.86
2016-06-30   94.44   95.7700   94.30   95.60
2016-07-31  104.19  104.5500  103.68  104.21
2016-08-31  105.66  106.5699  105.64  106.10
2016-09-30  112.46  113.3700  111.80  113.05
2016-10-31  113.65  114.2300  113.20  113.54
2016-11-30  111.56  112.2000  110.27  110.52
2016-12-31  116.65  117.2000  115.43  115.82

In [99]:
#Ejemplo Propio
googl_bar = googl_month[['High', 'Low', 'Close', 'Adj. Volume']]
print(googl_bar)

               High     Low     Close  Adj. Volume
Date
2012-01-31  584.000  575.15  580.1100    4280500.0
2012-02-29  625.600  615.50  618.2500    6267500.0
2012-03-31  653.490  641.00  641.2400    4616700.0
2012-04-30  616.082  600.61  604.8500    4809700.0
2012-05-31  590.000  579.00  580.8600    5930600.0
2012-06-30  580.130  572.20  580.0700    5033900.0
2012-07-31  636.500  628.22  632.9700    3727400.0
2012-08-31  688.580  680.04  685.0900    4249900.0
2012-09-30  759.300  751.15  754.5000    5561400.0
2012-10-31  681.000  675.00  680.2976    3070900.0
2012-11-30  699.220  685.69  698.3700    6320800.0
2012-12-31  710.570  696.00  707.3800    3990800.0

* #### *Specify columns and rows using loc[]:*

In [90]:
#Ejemplo de QuantConnect
print(aapl_month.loc['2016-03':'2016-06', ['Open', 'High', 'Low', 'Close']])

              Open    High     Low   Close
Date
2016-03-31  109.72  109.90  108.88  108.99
2016-04-30   93.99   94.72   92.51   93.74
2016-05-31   99.60  100.40   98.82   99.86
2016-06-30   94.44   95.77   94.30   95.60

In [100]:
#Ejemplo Propio
print(googl_month.loc['2012-05':'2012-12', ['High', 'Low', 'Close', 'Adj. Volume']])

              High     Low     Close  Adj. Volume
Date
2012-05-31  590.00  579.00  580.8600    5930600.0
2012-06-30  580.13  572.20  580.0700    5033900.0
2012-07-31  636.50  628.22  632.9700    3727400.0
2012-08-31  688.58  680.04  685.0900    4249900.0
2012-09-30  759.30  751.15  754.5000    5561400.0
2012-10-31  681.00  675.00  680.2976    3070900.0
2012-11-30  699.22  685.69  698.3700    6320800.0
2012-12-31  710.57  696.00  707.3800    3990800.0

* #### *Making customized subsets:*

In [93]:
#Ejemplo de QuantConnect
import numpy as np
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

              Open      High     Low   Close
Date
2016-03-31  109.72  109.9000  108.88  108.99
2016-08-31  105.66  106.5699  105.64  106.10
2016-09-30  112.46  113.3700  111.80  113.05
2016-10-31  113.65  114.2300  113.20  113.54
2016-11-30  111.56  112.2000  110.27  110.52
2016-12-31  116.65  117.2000  115.43  115.82

In [101]:
#Ejemplo Propio
import numpy as np
over = googl_bar[googl_bar.High < np.mean(googl_bar.High)]
print(over)

               High     Low   Close  Adj. Volume
Date
2012-01-31  584.000  575.15  580.11    4280500.0
2012-02-29  625.600  615.50  618.25    6267500.0
2012-04-30  616.082  600.61  604.85    4809700.0
2012-05-31  590.000  579.00  580.86    5930600.0
2012-06-30  580.130  572.20  580.07    5033900.0
2012-07-31  636.500  628.22  632.97    3727400.0

### Data Validation:

* #### *Add a new column:*

In [103]:
#Ejemplo de QuantConnect
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [104]:
#Ejemplo Propio
googl_bar['h_rate_return'] = googl_bar.High.pct_change()
print(googl_bar)

               High     Low     Close  Adj. Volume  h_rate_return
Date
2012-01-31  584.000  575.15  580.1100    4280500.0            NaN
2012-02-29  625.600  615.50  618.2500    6267500.0       0.071233
2012-03-31  653.490  641.00  641.2400    4616700.0       0.044581
2012-04-30  616.082  600.61  604.8500    4809700.0      -0.057243
2012-05-31  590.000  579.00  580.8600    5930600.0      -0.042335
2012-06-30  580.130  572.20  580.0700    5033900.0      -0.016729
2012-07-31  636.500  628.22  632.9700    3727400.0       0.097168
2012-08-31  688.580  680.04  685.0900    4249900.0       0.081822
2012-09-30  759.300  751.15  754.5000    5561400.0       0.102704
2012-10-31  681.000  675.00  680.2976    3070900.0      -0.103121
2012-11-30  699.220  685.69  698.3700    6320800.0       0.026755
2012-12-31  710.570  696.00  707.3800    3990800.0       0.016232

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

* #### *Check abnormal values:*

In [106]:
#Ejemplo de QuantConnect
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [107]:
#Ejemplo Propio
no_encontrado = googl_bar.isnull()
print(no_encontrado)
print('---------------------------------------------')
print(no_encontrado.describe())

             High    Low  Close  Adj. Volume  h_rate_return
Date
2012-01-31  False  False  False        False           True
2012-02-29  False  False  False        False          False
2012-03-31  False  False  False        False          False
2012-04-30  False  False  False        False          False
2012-05-31  False  False  False        False          False
2012-06-30  False  False  False        False          False
2012-07-31  False  False  False        False          False
2012-08-31  False  False  False        False          False
2012-09-30  False  False  False        False          False
2012-10-31  False  False  False        False          False
2012-11-30  False  False  False        False          False
2012-12-31  False  False  False        False          False
---------------------------------------------
         High    Low  Close Adj. Volume h_rate_return
count      12     12     12          12            12
unique      1      1      1           1             2
top     False  False  False       False         False
freq       12     12     12          12            11

* #### *Find the rows with missing values:*

In [108]:
#Ejemplo de QuantConnect
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [109]:
#Ejemplo Propio
print(no_encontrado[no_encontrado.h_rate_return == True])

             High    Low  Close  Adj. Volume  h_rate_return
Date
2012-01-31  False  False  False        False           True

* #### *Drop and fill NaN values:*

In [110]:
#Ejemplo de QuantConnect
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

              Open      High     Low   Close  rate_return
Date
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955

--------------------------------------------------

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34     0.000000
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955

In [111]:
#Ejemplo Propio
drop2 = googl_bar.dropna()
print(drop2)
print('\n--------------------------------------------------\n')
fill2 = googl_bar.fillna(0)
print(fill2)

               High     Low     Close  Adj. Volume  h_rate_return
Date
2012-02-29  625.600  615.50  618.2500    6267500.0       0.071233
2012-03-31  653.490  641.00  641.2400    4616700.0       0.044581
2012-04-30  616.082  600.61  604.8500    4809700.0      -0.057243
2012-05-31  590.000  579.00  580.8600    5930600.0      -0.042335
2012-06-30  580.130  572.20  580.0700    5033900.0      -0.016729
2012-07-31  636.500  628.22  632.9700    3727400.0       0.097168
2012-08-31  688.580  680.04  685.0900    4249900.0       0.081822
2012-09-30  759.300  751.15  754.5000    5561400.0       0.102704
2012-10-31  681.000  675.00  680.2976    3070900.0      -0.103121
2012-11-30  699.220  685.69  698.3700    6320800.0       0.026755
2012-12-31  710.570  696.00  707.3800    3990800.0       0.016232

--------------------------------------------------

               High     Low     Close  Adj. Volume  h_rate_return
Date
2012-01-31  584.000  575.15  580.1100    4280500.0       0.000000
2012-02-29  625.600  615.50  618.2500    6267500.0       0.071233
2012-03-31  653.490  641.00  641.2400    4616700.0       0.044581
2012-04-30  616.082  600.61  604.8500    4809700.0      -0.057243
2012-05-31  590.000  579.00  580.8600    5930600.0      -0.042335
2012-06-30  580.130  572.20  580.0700    5033900.0      -0.016729
2012-07-31  636.500  628.22  632.9700    3727400.0       0.097168
2012-08-31  688.580  680.04  685.0900    4249900.0       0.081822
2012-09-30  759.300  751.15  754.5000    5561400.0       0.102704
2012-10-31  681.000  675.00  680.2976    3070900.0      -0.103121
2012-11-30  699.220  685.69  698.3700    6320800.0       0.026755
2012-12-31  710.570  696.00  707.3800    3990800.0       0.016232

### DataFrame Concat:

* #### *Merge multiple Series to a DataFrame:*

In [112]:
#Ejemplo de QuantConnect
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1, s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [113]:
#Ejemplo Propio
serie1 = pd.Series([3.5, 5.0, 4.8, 4.5, 2.8, 3.9, 4.1, 4.4], name = 'Estudiante1')
serie2 = pd.Series([5.0, 2.5, 4.9, 4.7, 4.6, 4.3, 2.0, 5.0], name = 'Estudiante2')
serie3 = pd.Series([2.9, 3.0, 2.8, 3.3, 2.1, 4.0, 3.9, 5.0], name = 'Estudiante3')
nuevo_data_frame = pd.concat([serie1, serie2, serie3], axis = 1)
print(nuevo_data_frame)

   Estudiante1  Estudiante2  Estudiante3
0          3.5          5.0          2.9
1          5.0          2.5          3.0
2          4.8          4.9          2.8
3          4.5          4.7          3.3
4          2.8          4.6          2.1
5          3.9          4.3          4.0
6          4.1          2.0          3.9
7          4.4          5.0          5.0

* #### *Join two DataFrames by columns:*

In [114]:
#Ejemplo de QuantConnect
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n--------------------------------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    4.578210
2016-02-29    4.571510
2016-03-31    4.691256
2016-04-30    4.540525
2016-05-31    4.603769
2016-06-30    4.560173
2016-07-31    4.646408
2016-08-31    4.664382
2016-09-30    4.727830
2016-10-31    4.732155
2016-11-30    4.705197
2016-12-31    4.752037
Freq: M, Name: log_price, dtype: float64

--------------------------------------------

              Open      High     Low   Close  rate_return  log_price
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN   4.578210
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678   4.571510
2016-03-31  109.72  109.9000  108.88  108.99     0.127211   4.691256
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921   4.540525
2016-05-31   99.60  100.4000   98.82   99.86     0.065287   4.603769
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660   4.560173
2016-07-31  104.19  104.5500  103.68  104.21     0.090063   4.646408
2016-08-31  105.66  106.5699  105.64  106.10     0.018136   4.664382
2016-09-30  112.46  113.3700  111.80  113.05     0.065504   4.727830
2016-10-31  113.65  114.2300  113.20  113.54     0.004334   4.732155
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599   4.705197
2016-12-31  116.65  117.2000  115.43  115.82     0.047955   4.752037

In [115]:
#Ejemplo Propio
log_high = np.log(googl_bar.High)
log_high.name = 'log_high'
print(log_high)
print('\n--------------------------------------------\n')
concatenado = pd.concat([googl_bar, log_high], axis = 1)
print(concatenado)

Date
2012-01-31    6.369901
2012-02-29    6.438711
2012-03-31    6.482327
2012-04-30    6.423380
2012-05-31    6.380123
2012-06-30    6.363252
2012-07-31    6.455984
2012-08-31    6.534632
2012-09-30    6.632397
2012-10-31    6.523562
2012-11-30    6.549965
2012-12-31    6.566067
Freq: M, Name: log_high, dtype: float64

--------------------------------------------

               High     Low     Close  Adj. Volume  h_rate_return  log_high
Date
2012-01-31  584.000  575.15  580.1100    4280500.0            NaN  6.369901
2012-02-29  625.600  615.50  618.2500    6267500.0       0.071233  6.438711
2012-03-31  653.490  641.00  641.2400    4616700.0       0.044581  6.482327
2012-04-30  616.082  600.61  604.8500    4809700.0      -0.057243  6.423380
2012-05-31  590.000  579.00  580.8600    5930600.0      -0.042335  6.380123
2012-06-30  580.130  572.20  580.0700    5033900.0      -0.016729  6.363252
2012-07-31  636.500  628.22  632.9700    3727400.0       0.097168  6.455984
2012-08-31  688.580  680.04  685.0900    4249900.0       0.081822  6.534632
2012-09-30  759.300  751.15  754.5000    5561400.0       0.102704  6.632397
2012-10-31  681.000  675.00  680.2976    3070900.0      -0.103121  6.523562
2012-11-30  699.220  685.69  698.3700    6320800.0       0.026755  6.549965
2012-12-31  710.570  696.00  707.3800    3990800.0       0.016232  6.566067

* #### *Consider two DataFrames:*

In [129]:
#Ejemplo de QuantConnect
df_volume = aapl_table.loc['2016-10':'2017-04', ['Volume', 'Split Ratio']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n-------------------------------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04', ['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

                Volume  Split Ratio
Date
2016-10-31  26419398.0          1.0
2016-11-30  36162258.0          1.0
2016-12-31  30586265.0          1.0
2017-01-31  49200993.0          1.0
2017-02-28  23482860.0          1.0
2017-03-31  19661651.0          1.0
2017-04-30  20247187.0          1.0

-------------------------------------------

              Open     High     Low   Close
Date
2016-10-31  113.65  114.230  113.20  113.54
2016-11-30  111.56  112.200  110.27  110.52
2016-12-31  116.65  117.200  115.43  115.82
2017-01-31  121.15  121.390  120.62  121.35
2017-02-28  137.08  137.435  136.70  136.99
2017-03-31  143.72  144.270  143.01  143.66
2017-04-30  144.09  144.300  143.27  143.65

In [130]:
#Ejemplo Propio
df2_volume = googl_table.loc['2011-10':'2012-04', ['Volume', 'Split Ratio']].resample('M').agg(lambda x: x[-1])
print(df2_volume)
print('\n-------------------------------------------\n')
df2_2012 = googl_table.loc['2011-10':'2012-04', ['High', 'Low', 'Close', 'Adj. Volume']].resample('M').agg(lambda x: x[-1])
print(df2_2012)

               Volume  Split Ratio
Date
2011-10-31  5110400.0          1.0
2011-11-30  6787200.0          1.0
2011-12-31  3561000.0          1.0
2012-01-31  4280500.0          1.0
2012-02-29  6267500.0          1.0
2012-03-31  4616700.0          1.0
2012-04-30  4809700.0          1.0

-------------------------------------------

               High     Low   Close  Adj. Volume
Date
2011-10-31  599.690  591.67  592.64    5110400.0
2011-11-30  599.510  592.09  599.39    6787200.0
2011-12-31  646.760  642.02  645.90    3561000.0
2012-01-31  584.000  575.15  580.11    4280500.0
2012-02-29  625.600  615.50  618.25    6267500.0
2012-03-31  653.490  641.00  641.24    4616700.0
2012-04-30  616.082  600.61  604.85    4809700.0

* #### *Merge DataFrames by rows:*

In [131]:
#Ejemplo de QuantConnect
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

              Open      High     Low  ...  rate_return      Volume  Split Ratio
Date                                  ...
2016-01-31   94.79   97.3400   94.35  ...          NaN         NaN          NaN
2016-02-29   96.86   98.2300   96.65  ...    -0.006678         NaN          NaN
2016-03-31  109.72  109.9000  108.88  ...     0.127211         NaN          NaN
2016-04-30   93.99   94.7200   92.51  ...    -0.139921         NaN          NaN
2016-05-31   99.60  100.4000   98.82  ...     0.065287         NaN          NaN
2016-06-30   94.44   95.7700   94.30  ...    -0.042660         NaN          NaN
2016-07-31  104.19  104.5500  103.68  ...     0.090063         NaN          NaN
2016-08-31  105.66  106.5699  105.64  ...     0.018136         NaN          NaN
2016-09-30  112.46  113.3700  111.80  ...     0.065504         NaN          NaN
2016-10-31  113.65  114.2300  113.20  ...     0.004334  26419398.0          1.0
2016-11-30  111.56  112.2000  110.27  ...    -0.026599  36162258.0          1.0
2016-12-31  116.65  117.2000  115.43  ...     0.047955  30586265.0          1.0
2017-01-31     NaN       NaN     NaN  ...          NaN  49200993.0          1.0
2017-02-28     NaN       NaN     NaN  ...          NaN  23482860.0          1.0
2017-03-31     NaN       NaN     NaN  ...          NaN  19661651.0          1.0
2017-04-30     NaN       NaN     NaN  ...          NaN  20247187.0          1.0

[16 rows x 7 columns]

In [132]:
#Ejemplo Propio
concatenado = pd.concat([googl_bar, df2_volume], axis = 1)
print(concatenado)

               High     Low     Close  ...  h_rate_return     Volume  Split Ratio
Date                                   ...
2011-10-31      NaN     NaN       NaN  ...            NaN  5110400.0          1.0
2011-11-30      NaN     NaN       NaN  ...            NaN  6787200.0          1.0
2011-12-31      NaN     NaN       NaN  ...            NaN  3561000.0          1.0
2012-01-31  584.000  575.15  580.1100  ...            NaN  4280500.0          1.0
2012-02-29  625.600  615.50  618.2500  ...       0.071233  6267500.0          1.0
2012-03-31  653.490  641.00  641.2400  ...       0.044581  4616700.0          1.0
2012-04-30  616.082  600.61  604.8500  ...      -0.057243  4809700.0          1.0
2012-05-31  590.000  579.00  580.8600  ...      -0.042335        NaN          NaN
2012-06-30  580.130  572.20  580.0700  ...      -0.016729        NaN          NaN
2012-07-31  636.500  628.22  632.9700  ...       0.097168        NaN          NaN
2012-08-31  688.580  680.04  685.0900  ...       0.081822        NaN          NaN
2012-09-30  759.300  751.15  754.5000  ...       0.102704        NaN          NaN
2012-10-31  681.000  675.00  680.2976  ...      -0.103121        NaN          NaN
2012-11-30  699.220  685.69  698.3700  ...       0.026755        NaN          NaN
2012-12-31  710.570  696.00  707.3800  ...       0.016232        NaN          NaN

[15 rows x 7 columns]

* #### *Inner join:*

In [133]:
#Ejemplo de QuantConnect
concat = pd.concat([aapl_bar, df_volume], axis = 1, join = 'inner')
print(concat)

              Open    High     Low  ...  rate_return      Volume  Split Ratio
Date                                ...
2016-10-31  113.65  114.23  113.20  ...     0.004334  26419398.0          1.0
2016-11-30  111.56  112.20  110.27  ...    -0.026599  36162258.0          1.0
2016-12-31  116.65  117.20  115.43  ...     0.047955  30586265.0          1.0

[3 rows x 7 columns]

In [134]:
#Ejemplo Propio
concatenado = pd.concat([googl_bar, df2_volume], axis = 1, join = 'inner')
print(concatenado)

               High     Low   Close  ...  h_rate_return     Volume  Split Ratio
Date                                 ...
2012-01-31  584.000  575.15  580.11  ...            NaN  4280500.0          1.0
2012-02-29  625.600  615.50  618.25  ...       0.071233  6267500.0          1.0
2012-03-31  653.490  641.00  641.24  ...       0.044581  4616700.0          1.0
2012-04-30  616.082  600.61  604.85  ...      -0.057243  4809700.0          1.0

[4 rows x 7 columns]

* #### *Append a DataFrame to another:*

In [135]:
#Ejemplo de QuantConnect
append = aapl_bar.append(df_2017)
print(append)

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955
2016-10-31  113.65  114.2300  113.20  113.54          NaN
2016-11-30  111.56  112.2000  110.27  110.52          NaN
2016-12-31  116.65  117.2000  115.43  115.82          NaN
2017-01-31  121.15  121.3900  120.62  121.35          NaN
2017-02-28  137.08  137.4350  136.70  136.99          NaN
2017-03-31  143.72  144.2700  143.01  143.66          NaN
2017-04-30  144.09  144.3000  143.27  143.65          NaN

In [136]:
#Ejemplo Propio
append2 = googl_bar.append(df2_2012)
print(append2)

               High     Low     Close  Adj. Volume  h_rate_return
Date
2012-01-31  584.000  575.15  580.1100    4280500.0            NaN
2012-02-29  625.600  615.50  618.2500    6267500.0       0.071233
2012-03-31  653.490  641.00  641.2400    4616700.0       0.044581
2012-04-30  616.082  600.61  604.8500    4809700.0      -0.057243
2012-05-31  590.000  579.00  580.8600    5930600.0      -0.042335
2012-06-30  580.130  572.20  580.0700    5033900.0      -0.016729
2012-07-31  636.500  628.22  632.9700    3727400.0       0.097168
2012-08-31  688.580  680.04  685.0900    4249900.0       0.081822
2012-09-30  759.300  751.15  754.5000    5561400.0       0.102704
2012-10-31  681.000  675.00  680.2976    3070900.0      -0.103121
2012-11-30  699.220  685.69  698.3700    6320800.0       0.026755
2012-12-31  710.570  696.00  707.3800    3990800.0       0.016232
2011-10-31  599.690  591.67  592.6400    5110400.0            NaN
2011-11-30  599.510  592.09  599.3900    6787200.0            NaN
2011-12-31  646.760  642.02  645.9000    3561000.0            NaN
2012-01-31  584.000  575.15  580.1100    4280500.0            NaN
2012-02-29  625.600  615.50  618.2500    6267500.0            NaN
2012-03-31  653.490  641.00  641.2400    4616700.0            NaN
2012-04-30  616.082  600.61  604.8500    4809700.0            NaN

* #### *Alternative way to append a DataFrame:*

In [137]:
#Ejemplo de QuantConnect
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

              Open      High     Low   Close  rate_return
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31  109.72  109.9000  108.88  108.99     0.127211
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31   99.60  100.4000   98.82   99.86     0.065287
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31  104.19  104.5500  103.68  104.21     0.090063
2016-08-31  105.66  106.5699  105.64  106.10     0.018136
2016-09-30  112.46  113.3700  111.80  113.05     0.065504
2016-10-31  113.65  114.2300  113.20  113.54     0.004334
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31  116.65  117.2000  115.43  115.82     0.047955
2016-10-31  113.65  114.2300  113.20  113.54          NaN
2016-11-30  111.56  112.2000  110.27  110.52          NaN
2016-12-31  116.65  117.2000  115.43  115.82          NaN
2017-01-31  121.15  121.3900  120.62  121.35          NaN
2017-02-28  137.08  137.4350  136.70  136.99          NaN
2017-03-31  143.72  144.2700  143.01  143.66          NaN
2017-04-30  144.09  144.3000  143.27  143.65          NaN

In [138]:
#Ejemplo Propio
concatenado = pd.concat([googl_bar, df2_2012], axis = 0)
print(concatenado)

               High     Low     Close  Adj. Volume  h_rate_return
Date
2012-01-31  584.000  575.15  580.1100    4280500.0            NaN
2012-02-29  625.600  615.50  618.2500    6267500.0       0.071233
2012-03-31  653.490  641.00  641.2400    4616700.0       0.044581
2012-04-30  616.082  600.61  604.8500    4809700.0      -0.057243
2012-05-31  590.000  579.00  580.8600    5930600.0      -0.042335
2012-06-30  580.130  572.20  580.0700    5033900.0      -0.016729
2012-07-31  636.500  628.22  632.9700    3727400.0       0.097168
2012-08-31  688.580  680.04  685.0900    4249900.0       0.081822
2012-09-30  759.300  751.15  754.5000    5561400.0       0.102704
2012-10-31  681.000  675.00  680.2976    3070900.0      -0.103121
2012-11-30  699.220  685.69  698.3700    6320800.0       0.026755
2012-12-31  710.570  696.00  707.3800    3990800.0       0.016232
2011-10-31  599.690  591.67  592.6400    5110400.0            NaN
2011-11-30  599.510  592.09  599.3900    6787200.0            NaN
2011-12-31  646.760  642.02  645.9000    3561000.0            NaN
2012-01-31  584.000  575.15  580.1100    4280500.0            NaN
2012-02-29  625.600  615.50  618.2500    6267500.0            NaN
2012-03-31  653.490  641.00  641.2400    4616700.0            NaN
2012-04-30  616.082  600.61  604.8500    4809700.0            NaN

* #### *Changing column names:*

In [139]:
#Ejemplo de QuantConnect
df_2017.columns = ['Change', 'High', 'Low', 'Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

              Open      High     Low   Close  rate_return  Change
Date
2016-01-31   94.79   97.3400   94.35   97.34          NaN     NaN
2016-02-29   96.86   98.2300   96.65   96.69    -0.006678     NaN
2016-03-31  109.72  109.9000  108.88  108.99     0.127211     NaN
2016-04-30   93.99   94.7200   92.51   93.74    -0.139921     NaN
2016-05-31   99.60  100.4000   98.82   99.86     0.065287     NaN
2016-06-30   94.44   95.7700   94.30   95.60    -0.042660     NaN
2016-07-31  104.19  104.5500  103.68  104.21     0.090063     NaN
2016-08-31  105.66  106.5699  105.64  106.10     0.018136     NaN
2016-09-30  112.46  113.3700  111.80  113.05     0.065504     NaN
2016-10-31  113.65  114.2300  113.20  113.54     0.004334     NaN
2016-11-30  111.56  112.2000  110.27  110.52    -0.026599     NaN
2016-12-31  116.65  117.2000  115.43  115.82     0.047955     NaN
2016-10-31     NaN  114.2300  113.20  113.54          NaN  113.65
2016-11-30     NaN  112.2000  110.27  110.52          NaN  111.56
2016-12-31     NaN  117.2000  115.43  115.82          NaN  116.65
2017-01-31     NaN  121.3900  120.62  121.35          NaN  121.15
2017-02-28     NaN  137.4350  136.70  136.99          NaN  137.08
2017-03-31     NaN  144.2700  143.01  143.66          NaN  143.72
2017-04-30     NaN  144.3000  143.27  143.65          NaN  144.09

In [140]:
#Ejemplo Propio
df2_2012.columns = ['High', 'Change', 'Close', 'Another Change']
concatenado = pd.concat([googl_bar, df2_2012], axis = 0)
print(concatenado)

               High     Low     Close  ...  h_rate_return  Change  Another Change
Date                                   ...
2012-01-31  584.000  575.15  580.1100  ...            NaN     NaN             NaN
2012-02-29  625.600  615.50  618.2500  ...       0.071233     NaN             NaN
2012-03-31  653.490  641.00  641.2400  ...       0.044581     NaN             NaN
2012-04-30  616.082  600.61  604.8500  ...      -0.057243     NaN             NaN
2012-05-31  590.000  579.00  580.8600  ...      -0.042335     NaN             NaN
2012-06-30  580.130  572.20  580.0700  ...      -0.016729     NaN             NaN
2012-07-31  636.500  628.22  632.9700  ...       0.097168     NaN             NaN
2012-08-31  688.580  680.04  685.0900  ...       0.081822     NaN             NaN
2012-09-30  759.300  751.15  754.5000  ...       0.102704     NaN             NaN
2012-10-31  681.000  675.00  680.2976  ...      -0.103121     NaN             NaN
2012-11-30  699.220  685.69  698.3700  ...       0.026755     NaN             NaN
2012-12-31  710.570  696.00  707.3800  ...       0.016232     NaN             NaN
2011-10-31  599.690     NaN  592.6400  ...            NaN  591.67       5110400.0
2011-11-30  599.510     NaN  599.3900  ...            NaN  592.09       6787200.0
2011-12-31  646.760     NaN  645.9000  ...            NaN  642.02       3561000.0
2012-01-31  584.000     NaN  580.1100  ...            NaN  575.15       4280500.0
2012-02-29  625.600     NaN  618.2500  ...            NaN  615.50       6267500.0
2012-03-31  653.490     NaN  641.2400  ...            NaN  641.00       4616700.0
2012-04-30  616.082     NaN  604.8500  ...            NaN  600.61       4809700.0

[19 rows x 7 columns]